body {
  background-color: #e67331;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: visible;
  font-family: Garamond;
  color: #d9d9d9;
}

::-webkit-scrollbar {
  display: none;
}

/* rover pages*/
.recent-pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.whole-card-holder{
  display: flex;
  margin-top: 20px;
}

.rover-card{
  max-width: 100%;
  outline: solid;
  outline-color: black;
  outline-width: 1px;
}

.card-holder{
  margin-right: 15px;
  width: 50%;
  margin-left: 1px;
}

.row-type-a{
  background-color: #f5bc8c;
  color: #2c0f05;
  padding: 0;
  margin: 0;
  opacity: .9;
}

.row-type-b{
  background-color: #a9725c;
  padding: 0;
  margin: 0;
  opacity: .9;
}

.card-table td{
  border: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  font-size: 25px;
}

.card-table{
  border: solid;
  border-color: black;
  border-width: 1px;
  width: 100%;
  height: 100%;
}

.card-table-holder{
  height: auto;
  width: 50%;
  margin-right: 1px;
  margin-bottom: 5px;
}
.rover-description{
  font-size: 25px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

.description-holder{
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}

.name-holder{
  text-align: center;
}
.rover-name{
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.rover-page{
  margin-top: 150px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: scroll;
}


/* for navigation panel */

.nav_class ul {
  display: inline-block;
  vertical-align: middle;
}

.nav_list {
  z-index: 1;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*opacity: 0.9;*/
  background-color: #2c0f05;
  /*background-color: rgba(255,255,255, 0.15);*/
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#nav_item {
  float: left;
  text-align: center;
  vertical-align: middle;
}

#nav_item:nth-child(1) {
  margin-right: -80px;
  float: left;
}

#nav_item:nth-child(2), #nav_item:nth-child(2), #nav_item:nth-child(3), #nav_item:nth-child(4), #nav_item:nth-child(5), #nav_item:nth-child(1) {
   cursor: pointer;
}

#nav_item:nth-child(2), #nav_item:nth-child(2), #nav_item:nth-child(3), #nav_item:nth-child(4), #nav_item:nth-child(5), #nav_item:last-child {
 margin-top: 20px;
}

#nav_item:nth-child(2) {
  float: right;
  margin-right: 40px;
}

#nav_item:nth-child(3) {
  margin-left: 50px;
}

#nav_item:nth-child(4) {
  margin-right: -10px;
  margin-left: -50px;
}

#nav_item:nth-child(5) {
  margin-left: -30px;
}


#nav_item a {
  display: block;
  color: white;
  font-size: 28px;
  text-decoration: none;
  padding: 10px 80px;
}

#nav_item a:hover, .active {
  /*background-color: rgba(255,255,255, 0.4);*/
  color: #f5bc8c;
}

#mars_img {
  width: 75px;
  height: 75px;
}


/* main page */
.title {
  margin-top: 200px;
  font-size: 100px;
  text-align: center;
}

select {
  font-size: 18px;
}

input {
  font-size: 18px;
}

label {
  font-size: 48px;
}

.rover-image {
  width: 200px;
  max-height: auto;
  padding-left: 10px;
  padding-top: 10px;
}

#searchDiv {
  padding-left: 30%;
  margin-top: 150px;
  z-index: 0;
}

#searchBtn {
  margin-left: 20%;
  font-size: 24px;
}